
<title>Lab1003</title>

<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-8 mb-4">
            <img src="~/images/lab4.jpeg" alt="lab 1001" style="width:100%; height:400px; text-align:center;">
        </div>
        <div class="col-lg-4 mb-4">
            <h3 style="color:#000033">Laboratuvar Bilgisi</h3>
            <p style="color:#000000">
                <br>Sunucu özellikleri:
            </p>
            <p style="color:#000000">
                Bilgisayar sayısı:
            </p>
            <p style="color:#000000">
                Bilgisayar özellikleri:
            </p>
        </div>
    </div>

</div>
   
